* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.heading-1 {
    background-color: rgb(36, 133, 146);
    color: azure;
    padding: 50px;
    text-align: center;
}


.destination-container {
    width: 40%
}

.content.is-pulled-left.is-one-third.destination-container {
    width: 20%;
    padding: 30px;
}

.button.is-link.dest-btn {
    width: 210px;
}

.buttons.is-flex-direction-column.mb-4.is-pulled-left {
    gap: 33px;
}

.detail-container.column.is-two-thirds {
    float: right;
    width: 75%;
}

#map-container,
#things-to-do-container {
    height: 300px;
}

#map-container, #weather-forecast {
    height: 330px;
    width: 40%;
    float: left;
    font-size: 20px;
}

#things-to-do-container {
    width: 60%;
    height: 330px;
    float: right;
    font-size: 20px;
}

#weather-container {
    display: inline-block;
    height: 400px;
    text-align: center;
    width: 85%;
    margin: 6% 0%;
}

/* #weather-forecast{
    float:right
}  */

.title {
    font-size: 33px;
}

.button.is-link.dest-btn {
    width: 190px;
    font-size: 18px;
    font-weight: bold;
}

.title.is-4.image.is-128x128 {
    background-color: #eee;
    display: flex;
    width: 430px;
    height: 100%;
    margin: 5px;
    justify-content: center;
}

@media only screen and (max-width: 1600px) {

    .title.is-4.image.is-128x128 {
        width: 410px;
        height: 95%;
    }

}

@media only screen and (max-width: 1500px) {
    .title {
        font-size: 26px;
    }

    .buttons.is-flex-direction-column.mb-4.is-pulled-left {
        gap: 30px;

    }

    .button.is-link.dest-btn {
        width: 179px;
        font-size: 16px;
    }

    #things-to-do-container {
        width: 55%;
        font-size: 16px;
    }

    .title.is-4.image.is-128x128 {
        width: 400px;
        height: 93%;
    }

    #map-container {
        height: 300px;
        width: 38%;
        font-size: 18px;
    }

    #weather-forecast {
        font-size: 18px;
    }

}

@media only screen and (max-width: 1300px) {
    .title {
        font-size: 22px;

    }

    .button.is-link.dest-btn {
        width: 170px;
        font-size: 14px;
    }


    .title.is-4.image.is-128x128 {
        width: 350px;
        height: 90%;
    }

    #things-to-do-container {
        width: 54%;
        font-size: 14px;
    }

    #map-container {
        height: 280px;
        width: 36%;
        font-size: 16px;
    }

    #weather-forecast {
        font-size: 16px;
    }

    .buttons.is-flex-direction-column.mb-4.is-pulled-left {
        gap: 28px;
    }

}

@media only screen and (max-width: 1070px) {
    .title {
        font-size: 20px;
    }

    .button.is-link.dest-btn {
        width: 165px;
        font-size: 13px;
    }


    .title.is-4.image.is-128x128 {
        width: 330px;
        height: 85%;
    }

    #things-to-do-container {
        width: 50%;
        font-size: 12px;
    }

    #map-container {
        height: 270px;
        width: 33%;
        font-size: 14px;
    }

    #weather-forecast {
        font-size: 14px;
    }

    .buttons.is-flex-direction-column.mb-4.is-pulled-left {
        gap: 26px;
    }

}


@media only screen and (max-width: 950px) {
    .title {
        font-size: 18px;
    }

    .button.is-link.dest-btn {
        width: 160px;
        font-size: 11px;
    }


    .title.is-4.image.is-128x128 {
        width: 315px;
        height: 80%;
    }

    #things-to-do-container {
        width: 46%;
        font-size: 11px;
    }

    #map-container {
        height: 260px;
        width: 29%;
        font-size: 12px;
    }

    #weather-forecast {
        font-size: 12px;
    }

    .buttons.is-flex-direction-column.mb-4.is-pulled-left {
        gap: 22px;
    }

}

@media only screen and (max-width: 830px) {
    .title {
        font-size: 14px;
    }

    .button.is-link.dest-btn {
        width: 155px;
        font-size: 10px;
    }


    .title.is-4.image.is-128x128 {
        width: 300px;
        height: 75%;
    }

    #things-to-do-container {
        width: 40%;
        font-size: 10px;
    }

    #map-container {
        height: 250px;
        width: 25%;
        font-size: 11px;
    }

    #weather-forecast {
        font-size: 11px;
    }

    .buttons.is-flex-direction-column.mb-4.is-pulled-left {
        gap: 18px;
    }

}

@media only screen and (max-width: 740px) {
    .title {
        font-size: 11px;
    }

    .button.is-link.dest-btn {
        width: 130px;
        font-size: 8px;
    }


    .title.is-4.image.is-128x128 {
        width: 270px;
        height: 70%;
    }

    #things-to-do-container {
        width: 35%;
        font-size: 8px;
    }

    #map-container {
        height: 210px;
        width: 20%;
        font-size: 9px;
    }

    #weather-forecast {
        font-size: 9px;
    }

    .buttons.is-flex-direction-column.mb-4.is-pulled-left {
        gap: 16px;
    }

}

@media only screen and (max-width: 650px) {
    .title {
        font-size: 8px;
    }

    .button.is-link.dest-btn {
        width: 100px;
        font-size: 6px;
    }


    .title.is-4.image.is-128x128 {
        width: 240px;
        height: 60%;
    }

    #things-to-do-container {
        width: 33%;
        font-size: 6px;
    }

    #map-container {
        height: 190px;
        width: 15%;
        font-size: 6px;
    }

    #weather-forecast {
        font-size: 6px;
    }

    .buttons.is-flex-direction-column.mb-4.is-pulled-left {
        gap: 14px;
    }

}

@media only screen and (max-width: 650px) {
    .title {
        font-size: 4px;
    }

    .button.is-link.dest-btn {
        width: 80px;
        font-size: 4px;
    }


    .title.is-4.image.is-128x128 {
        width: 200px;
        height: 40%;
    }

    #things-to-do-container {
        width: 30%;
        font-size: 4px;
    }

    #map-container {
        height: 170px;
        width: 11%;
        font-size: 4px;
    }

    #weather-forecast {
        font-size: 4px;
    }

    .buttons.is-flex-direction-column.mb-4.is-pulled-left {
        gap: 10px;
    }

}

/* @media only screen and (max-width: 1358px) {
        .title {
            font-size: 20px;
           } 
      } 

      @media only screen and (max-width: 1168px) {
        .title {
            font-size: 17px;
           } 
      }  */